<html>
    <head>
        <title>Super Kinga's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Hello and welcome to Super Kinga's blog</a></h1>
        </div>

        <div>
            <p>published: 25.06.2017, 13:44</p>
            <h2><a href="">My first post</a></h2>
            <p>I have just started my journey with Python. I <strong>love </strong> it!</p>
        </div>

        <div>
            <p>published: 25.06.2017, 13:46</p>
            <h2><a href="">My second post</a></h2>
            <p>I still do!</p>
        </div>
    </body>
</html>
